<p>If you have any questions, feel free to
	<a href="mailto:{{support_email}}">email our customer success team</a>. (We're
	lightning quick at replying.)</p>
<p>
	Thanks,
	<br />{{app_name}}
	and the
	{{app_name}}
	team
</p>
<p><strong>P.S.</strong>
	Need immediate help getting started? Check out our
	<a href="{{help_url}}">help documentation</a>. Or, just reply to this email,
	the
	{{app_name}}
	support team is always ready to help!</p>
<!-- Sub copy -->
<table class="body-sub" role="presentation">
	<tr>
		<td>
			<p class="f-fallback sub">If you’re having trouble with the button above,
				copy and paste the URL below into your web browser.</p>
			<p class="f-fallback sub">{{action_url}}</p>
		</td>
	</tr>
</table>